apscheduler
argon2_cffi
boto3
django-ninja
django-storages
google-cloud-storage
fastapi
fastapi-limiter
httpx
humanize
inflect
jinja2
moviepy
passlib
pendulum
phonenumbers
pillow
pillow-avif-plugin
psycopg2-binary
pydantic[email]
python-decouple
python-jose[cryptography]
python-multipart
redis[hiredis]>=5.0.0
tenacity
uvicorn